<extend name="Layout/application"/>

<block name="content">
   <section class="content-header">
      <h1>
         考勤统计
         <small>Attendance index</small>
      </h1>
      <ol class="breadcrumb">
         <li><a href="#"><i class="fa fa-dashboard"></i> Attendance</a></li>
         <li class="active">Index</li>
      </ol>
   </section>

   <section class="content" style="overflow-x: auto;">

      <include file="Layout/_flash"/>

      <div class="row">
         <div class="col-md-12">
            <div class="box box-primary">
               <div class="box-header">
                  <div class="col-md-5">
                     <a href="javascript:;" class="btn btn-primary btn-refresh" title="刷新"><i
                             class="fa fa-refresh"></i></a>
                     <a href="/admin/Attendance/export_customer" id="export" class="btn btn-primary btn-add" title="导出"><i
                             class="fa fa-sign-in"></i>
                        导出</a>
                  </div>

                  <!--搜索-->
                  <form action="" method="get">

                     <!--日期选择-->
                     <div class="col-md-4">
                        <div class="input-group input-group-sm" style="width: 280px;margin-top: 10px;">

                           <div class="input-group-btn">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                 <li>时间</li>
                              </button>
                           </div>
                           <input type="text" name="date" onchange="where()" id="datetime" value="{{$Request.param.date}}"
                                  class="form-control date">
                           <div class="input-group-btn">
                              <button type="submit" class="btn btn-default"><i class="fa fa-search"></i>
                              </button>
                           </div>
                        </div>
                     </div>
                  </form>

                  <form action="" method="get">
                     <!--输入框搜索-->
                     <div class="col-md-3">
                        <div class="input-group input-group-sm" style="width:280px;margin-top: 10px;">
                           <div class="input-group-btn">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                 <li>姓名</li>
                              </button>
                           </div>
                           <select name="name" class="form-control pull-right" onchange="where()" id="name">
                              <option value="">全部</option>
                              <foreach $customers as $item>
                              <option value="{{$item.id}}" <if $Request.param.name == $item.id>selected </if>>{{$item.name}}</option>
                              </foreach>
                           </select>
                           <div class="input-group-btn">
                              <button type="submit" class="btn btn-default"><i class="fa fa-search"></i>
                              </button>
                           </div>
                        </div>
                     </div>
                  </form>

                  <form action="" method="get">
                     <!--输入框搜索-->
                     <div class="col-md-3">
                        <div class="input-group input-group-sm" style="width:280px;margin-top: 10px;">
                           <div class="input-group-btn">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                 <li>部门</li>
                              </button>
                           </div>
                           <select name="department" class="form-control pull-right" onchange="where()" id="department">
                              <option value="">全部</option>
                              <foreach $department as $item>
                                 <option value="{{$item.id}}" <if $Request.param.department == $item.id>selected </if>>{{$item.name}}</option>
                              </foreach>
                           </select>
                           <div class="input-group-btn">
                              <button type="submit" class="btn btn-default"><i class="fa fa-search"></i>
                              </button>
                           </div>
                        </div>
                     </div>
                  </form>

               </div>

               <!-- /.box-header -->
               <div class="box-body">
                  <table id="example2" class="table table-bordered table-hover">
                     <thead>
                     <tr>
                        <th>日期</th>
                        <th>姓名</th>
                        <th>部门</th>
                        <th>上班打卡时间</th>
                        <th>下班打卡时间</th>
                        <th>当天考勤状态</th>
                     </tr>
                     </thead>
                     <tbody>
                     <foreach name="attendance" id="vehicles">
                        <tr data-id="{{$vehicles.id}}">
                           <td>
                              {{$vehicles.create_at|date='Y-m-d'}}
                           </td>
                           <td>
                              {{$vehicles.customer.name}}
                           </td>
                           <td>
                              {{$department[$vehicles.customer.department]['name']??''}}
                           </td>
                           <td>
                              {{$vehicles.str_time}}
                           </td>
                           <td>
                              {{$vehicles.end_time}}
                           </td>
                           <td>
                              <if $vehicles.type == '0'>
                              正常考勤
                              <elseif $vehicles.type=='1' />
                              外出
                                 <elseif $vehicles.type=='2' />
                              请假
                              <elseif $vehicles.type=='3' />
                              缺卡
                              <elseif $vehicles.type=='4' />
                              旷工
                              </if>
                           </td>
                        </tr>
                     </foreach>
                     </tbody>
                  </table>
                  <div class="box-footer">
                     共 {{$attendance->total()}} 条数据
                     <div class="page">
                        {{$attendance->render()|raw}}
                     </div>
                  </div>
               </div>
               <!-- /.box-body -->
            </div>
         </div>
         <!-- /.box -->
      </div>
      <!-- /.col -->
   </section>


</block>


<block name="js">
   <script>
      function where() {
         var date =  $('#datetime').val();
         var name =  $('#name').val();
         var department =  $('#department').val();
         $('#export').attr('href','/admin/File/export_customer?date='+date+'&name='+name+'&department='+department);
      }

      $(function () {
         // 搜索
         //日期范围选择
         lay('.date').each(function () {
            laydate.render({
               elem: this,
               range: '~',
               done: function (val) {
                  // $(this).val(val);
               }
            });
         });
         // 搜索框
         $('body').on("click", '.search-ul li a', function (event) {
            var _this = $(this);
            var _field = _this.data('field');
            var _html = _this.html();
            var _box = _this.closest('.input-group-btn');
            _box.find('.search_field').val(_field);
            _box.next('input').attr('placeholder', _html);
            _box.find('.field').html(_html);
         });

         //刷新
         $('.btn-refresh').click(function () {
            window.location.reload();
         });


      })
   </script>
</block>



